{% extends "AcmeHappyBundle:Secured:layout.html.twig" %}

 
{% block content %}

		<div class="btn-group pull-right">
            <a class="btn" href="#" onclick="return {{ grid.hash }}_show_filter()"><span class="fa fa-search"></span> {{ "Szukaj" |trans }}</a>
            <a class="btn" href="{{ path('_admin_newequipment') }}"><span class="fa fa-plus"></span> {{ "Nowy Sprzęt" |trans }}</a>
        </div>
		
	    <div class="title_area_normal">{{ 'Sprzęt'|trans }}</div>

	{{ grid(grid, 'AcmeHappyBundle::grid.html.twig') }}
{% endblock %}

{% set code = code(_self) %}
