{% extends "AcmeHappyBundle:Secured:layout.html.twig" %}

{% block content %}
	<div class="title_area_normal">{{ "Nowa Awaria Sprzętu" |trans }}</div>
 
	<form  id="contact_form" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
 

		 <div class="half left text-right">
            <label class="required" for="contact_email">{{ "Data awarii" |trans }}</label>
        </div>
		<div class="half left">
            {{ form_widget(form.dateOfAccident) }}
        </div>
		 
		 <div class="half left text-right">
            <label class="required" for="contact_email">{{ "Opis uszkodzenia" |trans }}</label>
        </div>
		<div class="half left">
            {{ form_widget(form.descriptionDamage) }}
        </div>
		
		 <div class="half left text-right">
            <label class="required" for="contact_email">{{ "Data wysyłki" |trans }}</label>
        </div>
		<div class="half left">
            {{ form_widget(form.dateOfDispatch) }}
        </div>
		
		 <div class="half left text-right">
            <label class="required" for="contact_email">{{ "Data naprawy" |trans }}</label>
        </div>
		<div class="half left">
            {{ form_widget(form.dataRecovery) }}
        </div>
		
		 <div class="half left text-right">
            <label class="required" for="contact_email">{{ "Dane serwisu" |trans }}</label>
        </div>
		<div class="half left">
            {{ form_widget(form.serviceData) }}
        </div>
		
		 <div class="half left text-right">
            <label class="required" for="contact_email">{{ "Okres gwarancji" |trans }}</label>
        </div>
		<div class="half left">
            {{ form_widget(form.warranty) }}
        </div>
		
		 <div class="half left text-right">
            <label class="required" for="contact_email">{{ "Koszt" |trans }}</label>
        </div>
		<div class="half left">
            {{ form_widget(form.costs) }}
        </div>
		
		 <div class="half left text-right">
            <label class="required" for="contact_email">{{ "Komentarz" |trans }}</label>
        </div>
		<div class="half left">
            {{ form_widget(form.comments) }}
        </div>
		  
		
		<div class="clear"></div>

        {{ form_row(form._token) }}
		{{ form_rest(form) }}
		<div class="clear"></div>
		
		<div class="text-center">
			<button type="submit" class="sf-button">
				<span class="border-l">
					<span class="border-r">
						<span class="btn-bg">{{ "Dodaj" |trans }}</span>
					</span>
				</span>
			</button>
		</div>
		
    </form>
	
{% endblock %}

{% set code = code(_self) %}
